$primary: #4B73FF;
$primaryHover: #2D5AF6;
$primaryActive: #2652EB;

$secondary: #C54BFF;
$secondaryHover: #AD32E8;
$secondaryActive: #A228DD;

$success: #4BC936;
$successHover: #40B62C;
$successActive: #36A823;

$warning: #FF7628;
$warningHover: #EE691E;
$warningActive: #E7641B;

$error: #FF2828;
$errorHover: #DA1212;
$errorActive: #D21212;