@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Prompt";
  src: url("./font/Prompt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

.link {
  cursor: pointer;
  color: #4B73FF;
  text-decoration: none;
  transition: all 0.2s ease;
}
.link:hover {
  color: #2D5AF6;
}
.link:active {
  color: #2652EB;
}

.badge {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 10px;
  background-color: #6A6A6A;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
.badge.primary {
  background-color: #4B73FF;
}
.badge.secondary {
  background-color: #C54BFF;
}
.badge.success {
  background-color: #4BC936;
}
.badge.warning {
  background-color: #FF7628;
}
.badge.error {
  background-color: #FF2828;
}
.badge.primary-flat {
  background-color: rgba(75, 115, 255, 0.2);
  color: #4B73FF;
}
.badge.secondary-flat {
  background-color: rgba(197, 75, 255, 0.2);
  color: #C54BFF;
}
.badge.success-flat {
  background-color: rgba(75, 201, 54, 0.2);
  color: #4BC936;
}
.badge.warning-flat {
  background-color: rgba(255, 118, 40, 0.2);
  color: #FF7628;
}
.badge.error-flat {
  background-color: rgba(255, 40, 40, 0.2);
  color: #FF2828;
}

.button {
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.button img,
.button svg {
  margin-right: 5px;
}
.button svg {
  margin-left: -3px;
}
.button svg path {
  fill: #fff;
}
.button.primary {
  background-color: #4B73FF;
}
.button.primary:hover {
  background-color: #2D5AF6;
}
.button.primary:active {
  background-color: #2652EB;
}
.button.secondary {
  background-color: #C54BFF;
}
.button.secondary:hover {
  background-color: #AD32E8;
}
.button.secondary:active {
  background-color: #A228DD;
}
.button.success {
  background-color: #4BC936;
}
.button.success:hover {
  background-color: #40B62C;
}
.button.success:active {
  background-color: #36A823;
}
.button.warning {
  background-color: #FF7628;
}
.button.warning:hover {
  background-color: #EE691E;
}
.button.warning:active {
  background-color: #E7641B;
}
.button.error {
  background-color: #FF2828;
}
.button.error:hover {
  background-color: #DA1212;
}
.button.error:active {
  background-color: #D21212;
}
.button.disabled {
  background-color: #D9D9D9;
  color: #8D8D8D;
  pointer-events: none;
}
.button.disabled svg path {
  fill: #8D8D8D;
}

.elevated-button {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
}
.elevated-button img,
.elevated-button svg {
  margin-right: 5px;
}
.elevated-button svg {
  margin-left: -3px;
}
.elevated-button svg path {
  transition: all 0.3s ease;
}
.elevated-button.primary {
  color: #4B73FF;
}
.elevated-button.primary svg path {
  fill: #4B73FF;
}
.elevated-button.primary:hover {
  color: #2D5AF6;
}
.elevated-button.primary:hover svg path {
  fill: #2D5AF6;
}
.elevated-button.primary:active {
  color: #2652EB;
}
.elevated-button.primary:active svg path {
  fill: #2652EB;
}
.elevated-button.secondary {
  color: #C54BFF;
}
.elevated-button.secondary svg path {
  fill: #C54BFF;
}
.elevated-button.secondary:hover {
  color: #AD32E8;
}
.elevated-button.secondary:hover svg path {
  fill: #AD32E8;
}
.elevated-button.secondary:active {
  color: #A228DD;
}
.elevated-button.secondary:active svg path {
  fill: #A228DD;
}
.elevated-button.success {
  color: #4BC936;
}
.elevated-button.success svg path {
  fill: #4BC936;
}
.elevated-button.success:hover {
  color: #40B62C;
}
.elevated-button.success:hover svg path {
  fill: #40B62C;
}
.elevated-button.success:active {
  color: #36A823;
}
.elevated-button.success:active svg path {
  fill: #36A823;
}
.elevated-button.warning {
  color: #FF7628;
}
.elevated-button.warning svg path {
  fill: #FF7628;
}
.elevated-button.warning:hover {
  color: #EE691E;
}
.elevated-button.warning:hover svg path {
  fill: #EE691E;
}
.elevated-button.warning:active {
  color: #E7641B;
}
.elevated-button.warning:active svg path {
  fill: #E7641B;
}
.elevated-button.error {
  color: #FF2828;
}
.elevated-button.error svg path {
  fill: #FF2828;
}
.elevated-button.error:hover {
  color: #DA1212;
}
.elevated-button.error:hover svg path {
  fill: #DA1212;
}
.elevated-button.error:active {
  color: #D21212;
}
.elevated-button.error:active svg path {
  fill: #D21212;
}
.elevated-button:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.elevated-button.disabled {
  background-color: #D9D9D9;
  color: #8D8D8D;
  pointer-events: none;
}
.elevated-button.disabled svg path {
  fill: #8D8D8D;
}

.outlined-button {
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  background: #fff;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.outlined-button img,
.outlined-button svg {
  margin-right: 5px;
}
.outlined-button svg {
  margin-left: -3px;
}
.outlined-button svg path {
  transition: all 0.3s ease;
}
.outlined-button.primary {
  color: #4B73FF;
  border: 1px solid #4B73FF;
}
.outlined-button.primary svg path {
  fill: #4B73FF;
}
.outlined-button.primary:hover {
  background-color: rgba(75, 115, 255, 0.2);
}
.outlined-button.primary:active {
  background-color: rgba(75, 115, 255, 0.3);
}
.outlined-button.secondary {
  color: #C54BFF;
  border: 1px solid #C54BFF;
}
.outlined-button.secondary svg path {
  fill: #C54BFF;
}
.outlined-button.secondary:hover {
  background-color: rgba(197, 75, 255, 0.2);
}
.outlined-button.secondary:active {
  background-color: rgba(197, 75, 255, 0.3);
}
.outlined-button.success {
  color: #4BC936;
  border: 1px solid #4BC936;
}
.outlined-button.success svg path {
  fill: #4BC936;
}
.outlined-button.success:hover {
  background-color: rgba(75, 201, 54, 0.2);
}
.outlined-button.success:active {
  background-color: rgba(75, 201, 54, 0.3);
}
.outlined-button.warning {
  color: #FF7628;
  border: 1px solid #FF7628;
}
.outlined-button.warning svg path {
  fill: #FF7628;
}
.outlined-button.warning:hover {
  background-color: rgba(255, 118, 40, 0.2);
}
.outlined-button.warning:active {
  background-color: rgba(255, 118, 40, 0.3);
}
.outlined-button.error {
  color: #FF2828;
  border: 1px solid #FF2828;
}
.outlined-button.error svg path {
  fill: #FF2828;
}
.outlined-button.error:hover {
  background-color: rgba(255, 40, 40, 0.2);
}
.outlined-button.error:active {
  background-color: rgba(255, 40, 40, 0.3);
}
.outlined-button.disabled {
  background-color: #D9D9D9;
  color: #8D8D8D;
  pointer-events: none;
}
.outlined-button.disabled svg path {
  fill: #8D8D8D;
}

.rounded-button {
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.rounded-button img,
.rounded-button svg {
  margin-right: 5px;
}
.rounded-button svg {
  margin-left: -3px;
}
.rounded-button svg path {
  fill: #fff;
}
.rounded-button.primary {
  background-color: #4B73FF;
}
.rounded-button.primary:hover {
  background-color: #2D5AF6;
}
.rounded-button.primary:active {
  background-color: #2652EB;
}
.rounded-button.secondary {
  background-color: #C54BFF;
}
.rounded-button.secondary:hover {
  background-color: #AD32E8;
}
.rounded-button.secondary:active {
  background-color: #A228DD;
}
.rounded-button.success {
  background-color: #4BC936;
}
.rounded-button.success:hover {
  background-color: #40B62C;
}
.rounded-button.success:active {
  background-color: #36A823;
}
.rounded-button.warning {
  background-color: #FF7628;
}
.rounded-button.warning:hover {
  background-color: #EE691E;
}
.rounded-button.warning:active {
  background-color: #E7641B;
}
.rounded-button.error {
  background-color: #FF2828;
}
.rounded-button.error:hover {
  background-color: #DA1212;
}
.rounded-button.error:active {
  background-color: #D21212;
}
.rounded-button.disabled {
  background-color: #D9D9D9;
  color: #8D8D8D;
  pointer-events: none;
}
.rounded-button.disabled svg path {
  fill: #8D8D8D;
}

.flat-button {
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.flat-button img,
.flat-button svg {
  margin-right: 5px;
}
.flat-button svg {
  margin-left: -3px;
}
.flat-button svg path {
  fill: #fff;
}
.flat-button.primary {
  background-color: rgba(75, 115, 255, 0.2);
  color: #4B73FF;
}
.flat-button.primary svg path {
  fill: #4B73FF;
}
.flat-button.primary:hover {
  background-color: rgba(75, 115, 255, 0.3);
}
.flat-button.primary:active {
  background-color: rgba(75, 115, 255, 0.35);
}
.flat-button.secondary {
  background-color: rgba(197, 75, 255, 0.2);
  color: #C54BFF;
}
.flat-button.secondary svg path {
  fill: #C54BFF;
}
.flat-button.secondary:hover {
  background-color: rgba(197, 75, 255, 0.3);
}
.flat-button.secondary:active {
  background-color: rgba(197, 75, 255, 0.35);
}
.flat-button.success {
  background-color: rgba(75, 201, 54, 0.2);
  color: #4BC936;
}
.flat-button.success svg path {
  fill: #4BC936;
}
.flat-button.success:hover {
  background-color: rgba(75, 201, 54, 0.3);
}
.flat-button.success:active {
  background-color: rgba(75, 201, 54, 0.35);
}
.flat-button.warning {
  background-color: rgba(255, 118, 40, 0.2);
  color: #FF7628;
}
.flat-button.warning svg path {
  fill: #FF7628;
}
.flat-button.warning:hover {
  background-color: rgba(255, 118, 40, 0.3);
}
.flat-button.warning:active {
  background-color: rgba(255, 118, 40, 0.35);
}
.flat-button.error {
  background-color: rgba(255, 40, 40, 0.2);
  color: #FF2828;
}
.flat-button.error svg path {
  fill: #FF2828;
}
.flat-button.error:hover {
  background-color: rgba(255, 40, 40, 0.3);
}
.flat-button.error:active {
  background-color: rgba(255, 40, 40, 0.35);
}
.flat-button.disabled {
  background-color: #D9D9D9;
  color: #8D8D8D;
  pointer-events: none;
}
.flat-button.disabled svg path {
  fill: #8D8D8D;
}

.light-button {
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.light-button img,
.light-button svg {
  margin-right: 5px;
}
.light-button svg {
  margin-left: -3px;
}
.light-button svg path {
  fill: #fff;
}
.light-button.primary {
  background-color: transparent;
  color: #4B73FF;
}
.light-button.primary svg path {
  fill: #4B73FF;
}
.light-button.primary:hover {
  background-color: rgba(75, 115, 255, 0.2);
}
.light-button.primary:active {
  background-color: rgba(75, 115, 255, 0.3);
}
.light-button.secondary {
  background-color: transparent;
  color: #C54BFF;
}
.light-button.secondary svg path {
  fill: #C54BFF;
}
.light-button.secondary:hover {
  background-color: rgba(197, 75, 255, 0.2);
}
.light-button.secondary:active {
  background-color: rgba(197, 75, 255, 0.3);
}
.light-button.success {
  background-color: transparent;
  color: #4BC936;
}
.light-button.success svg path {
  fill: #4BC936;
}
.light-button.success:hover {
  background-color: rgba(75, 201, 54, 0.2);
}
.light-button.success:active {
  background-color: rgba(75, 201, 54, 0.3);
}
.light-button.warning {
  background-color: transparent;
  color: #FF7628;
}
.light-button.warning svg path {
  fill: #FF7628;
}
.light-button.warning:hover {
  background-color: rgba(255, 118, 40, 0.2);
}
.light-button.warning:active {
  background-color: rgba(255, 118, 40, 0.3);
}
.light-button.error {
  background-color: transparent;
  color: #FF2828;
}
.light-button.error svg path {
  fill: #FF2828;
}
.light-button.error:hover {
  background-color: rgba(255, 40, 40, 0.2);
}
.light-button.error:active {
  background-color: rgba(255, 40, 40, 0.3);
}
.light-button.disabled {
  background-color: transparent;
  color: #8D8D8D;
  pointer-events: none;
}
.light-button.disabled svg path {
  fill: #8D8D8D;
}/*# sourceMappingURL=styles.css.map */